.inner-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: #ccc solid 1px;
    padding: 0 1em;
    margin: 10px auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.card li{
    list-style-type: none;
}
